

@media (max-width: 820px){
    .embla {
        overflow: hidden;
      }
      .embla__container {
        display: flex;
      }
      .embla__slide {
        flex: 0 0 0 100%;
        min-width: 0;
      }
      .slide3{
        display: flex;
        justify-content: center;
      }

      .slide3 button{
        position: absolute;
      }
      
}
