
section{
    display: flex;
    align-items: center;
    gap: 7em;
    margin: 0 4em;
    margin-bottom: 2em;
    position: relative;
}
.lets{
    display: none;
}
section h3 span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
section h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
section p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.introduction{
    display: flex;
    align-items:stretch;
    max-width: 80%;
}
.introduction img{
    margin-left: 1.5em;
}
.pessoa-oculos{
    width: 524px;
    height: 557px;
    left: 580px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-image: url("../../../public/Mask group.png");
    transform: rotatex(360deg);
    margin-top: 8em;
}
.about{
    margin-top: 6em;
    margin-bottom: 1em;
}
.text2{
    margin-bottom: 2em;
}
section button{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border-radius: 40px;
    border: none;
    color: #343045;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 1.5em 2.7em;
    cursor: pointer;
}
.title-oculos{
    margin-top: 3em;
    display: flex;
}
.title-oculos img{
    margin-left: 1.5em;
}
.text-vitae{
    margin-top: 7em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.vector7{
    position: absolute;
    z-index: -1;
    right: 0em;
    left: -11.5em;
    top: 15em;
}
.vector8{
    position: absolute;
    z-index: -1;
    top: 30em;
    right: 0;
}
@media (max-width:820px){
    .hiden{
        display: none;
    } 
    .flex-collum{
        display: flex;
        flex-direction: column;
    }
    .seta-longa{
        display: none;
    }
    .contents{
        display: flex;
        flex-direction: column;
    }
    .about{
        display: none;
    }
    #introduction-h3{
        margin: 3em auto;
        margin-bottom: -2em;
    }
    .contents .text2{
        order: 1;
    }
    .contents .why-build{
        order: 2;
    }
    .vector7, .vector8{
        display: none;
    }
    .eget{
        margin: 5em auto;
        margin-bottom: 0;
        max-width: 80%;
    }
    #eget{
        margin-top: 3em;
    }
    .lets{
        display: block;
        margin-top: 3em;
        margin-bottom: 5em;
    }
    .lets2{
        display: none;
    }
    .why-build{
        margin: 0 auto;
    }
    .text-vitae{
        display: none;
    }
    .text2{
        display: none;
    }
    .introduction{
        margin: 0 auto;
    }
    .pessoa-oculos{
        margin: 0 auto;
        margin-top: 8em;
    }
}

@media (max-width:515px){
    .pessoa-oculos{
        width: 100%;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        background-image: url("../../../public/Mask group.png");
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotatex(360deg);
        margin-top: 8em;
    }
    #eget{
        margin-top: -6.2em;
        margin-bottom: 1em;
        max-width: 100%;
    }
    .why-build{
        margin: 1em auto;
        margin-bottom: -3em;
        text-align: center;


    }
}