
section{
    display: flex;
    align-items: center;
    gap: 7em;
    margin: 0 4em;
    margin-bottom: 2em;
    position: relative;
}
section h3 span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
section h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
section p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.introduction{
    display: flex;
    align-items:stretch;
}
.introduction img{
    margin-left: 1.5em;
}
.pessoa-oculos{
    width: 524px;
    height: 557px;
    left: 580px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-image: url("../../../public/Mask group.png");
    transform: rotatex(360deg);
    margin-top: 8em;
}
.about{
    margin-top: 6em;
    margin-bottom: 1em;
}
.text2{
    margin-bottom: 2em;
}
section button{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border-radius: 40px;
    border: none;
    color: #343045;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 1.5em 2.7em;
    cursor: pointer;
}
.title-oculos{
    margin-top: 3em;
    display: flex;
}
.title-oculos img{
    margin-left: 1.5em;
}
.text-vitae{
    margin-top: 7em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.vector7{
    position: absolute;
    z-index: -1;
    right: 0em;
    left: -11.5em;
    top: 15em;
}
.vector8{
    position: absolute;
    z-index: -1;
    top: 30em;
    right: 0;
}